<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511730493433-jcb7brbn2k45rr381s5f6oil81phtcp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511730493433-jcb7brbn2k45rr381s5f6oil81phtcp8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511730493433-tkbohqq9pv0ehh2rrq48qc9ucqbngdtd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCXkpuVL8-f1rdrlLiJnULbYiv3VDtmxU</string>
	<key>GCM_SENDER_ID</key>
	<string>511730493433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catolica.alliance</string>
	<key>PROJECT_ID</key>
	<string>pac4fase</string>
	<key>STORAGE_BUCKET</key>
	<string>pac4fase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511730493433:ios:0a5113e43b1c93f3157f28</string>
</dict>
</plist>